.Security-Container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.Chip-Container {
  display: flex;
  justify-content: space-between;
  min-height: 124px;
  padding-left: 37px;
  padding-right: 15px;
  align-items: center;
}

.Left-Box {
  display: flex;
  gap: 32px;
  align-content: center;
}

.auth-head {
  margin-bottom: 8px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Left-Box > div > p {
  color: #78819f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.5%;
}

.Right-Box {
  display: flex;
  gap: 27px;
}

.Right-Box > div > p {
  margin-bottom: 16px;
  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.Right-Box > div > p > span {
  color: #ea1a1a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Btm-Container {
    display: flex;
    align-items: center;
    height: 124px;
    justify-content: space-between;
    padding-left: 39px;
    padding-right: 15px;
}

.btn-container {
    display: flex;
    gap: 15.4px;
    justify-content: center;
    margin: 52px 0px;
}
