.Security-Container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.Chip-Container {
  display: flex;
  justify-content: space-between;
  min-height: 124px;
  padding-left: 37px;
  padding-right: 15px;
  align-items: center;
}

.Left-Box {
  display: flex;
  gap: 32px;
  align-content: center;
}

.auth-head {
  margin-bottom: 8px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Left-Box > div > p {
  color: #78819f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.5%;
}

.Right-Box {
  display: flex;
  gap: 27px;
}

.Right-Box > div > p {
  margin-bottom: 16px;
  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.Right-Box > div > p > span {
  color: #ea1a1a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Btm-Container {
  display: flex;
  align-items: center;
  height: 124px;
  justify-content: space-between;
  padding-left: 39px;
  padding-right: 15px;
}

.btn-container {
  display: flex;
  gap: 15.4px;
  justify-content: center;
  margin: 52px 0px;
}

.Anti-Phishing-Input-Container {
  margin-top: 17px;
}
.auth-btn {
  min-width: 197px;
  max-width: 197px;
}
@media (max-width: 767px) {
  .auth-head {
    font-size: 13px;
  }
  .Left-Box {
    gap: 7px;
  }
  .Left-Box > img {
    width: 16px;
    height: 16px;
  }
  .Left-Box > div > p {
    font-size: 9px;
  }
  .Right-Box > div > p {
    font-size: 9px;
  }
  .Right-Box > div > p > span {
    font-size: 9px;
  }
  .auth-btn {
    max-width: 94px;
    width: 100%;
    padding: 6px;
    min-width: auto;
  } 
  .Chip-Container {
    padding-left: 15px;
  } 
  .Btm-Container {
    height: auto;
    margin-top: 20px;
  }
  .Security-Container {
    height: auto;
    margin-top: 20px;
  }
  .Chip-Container {
    height: auto;
    min-height: auto;
  }
}
