.Nominee-Container {
  padding: 30px 40px;
}
.Nominee-Input-Container {
  display: flex;
  gap: 68px;
  flex-direction: column;
}

.Nominee-Input-Container > * {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.Nominee-Button-Container {
  display: flex;
  width: 100%;
  gap: 10px;
  margin: 40px 0px;
}

.Nominee-Accordian-Container > h1 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 13px;
}
@media (max-width: 575px) {
  .Nominee-Input-Left {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .Nominee-Input-Container > :nth-child(2) {
    flex-direction: column;
  }
  .Nominee-Container {
    padding: 30px 0px;
  }
  .Nominee-Accordian-Container > h1 {
    font-size: 15px;
  }
}
