@import url("../../variables.css");
footer {
  background-color: var(--background-color);
  padding-top: 51px;
  padding-bottom: 34px;
}
.footer-container {
  display: flex;
  justify-content: center;
  gap: 200px;
}
.footer-container > nav {
  display: flex;
  gap: 124px;
}

nav > ul > h3 {
  text-wrap: nowrap;
}

nav > ul > li > a {
  color: #ddd;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #3d4259;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo-container {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-logo-container > img {
  width: 85px;
  height: 86px;
}
.footer-logo-container > span {
  color: #fff;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.footer-para {
  color: #ddd;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  max-width: 333px;
}

.footer-container > :nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-icon-container {
  gap: 22px;
  margin-top: 40px;
}

.footer-container > nav > ul > h3 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

.footer-ul-gap {
  gap: 17px;
}
