.Transfer-Main-Container {
  width: 50%;
  margin: 0 auto;
  background-color: #141416;
}
.Internal-Transfer-Container {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20.5px;
  padding-top: 53px;
  padding-bottom: 100px;
}

.Internal-Transfer-Container > h1 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  margin-bottom: 41px;
}

.Internal-Transfer-Btn-Container {
    display: flex;
    gap: 16px;
    margin-top: 40px;
}
