.Wallet-Container {
  background-color: #18191d;
  padding: 100px 0px;
}
.Wallet-Overview-Nav-Container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid #23252a;
  padding: 0 30px;
}

.Wallet-Overview-Nav-Btn-Container {
  display: flex;
  gap: 10px;
  flex: 1;
}

.Wallet-Overview-Table-Container {
  padding: 0 30px;
}

.Wallet-Overview-Search-Container {
  padding: 0 30px;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 31px;
}

.Wallet-Overview-Amount-Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 37px 0px;
}
.Wallet-Overview-Amount-Container > span {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.Wallet-Overview-Table-head {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
  flex: 1;
}
.Wallet-Overview-Search-Container {
  display: flex;
  justify-content: space-between;
}
/*  */

.Wallet-Btm-Container {
  display: flex;
  gap: 52px;
  padding: 58px 30px;
}

.Wallet-Btm-Container > * {
  width: 50%;
}

.Wallet-Form-Box {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 45px;
}

.Wallet-Form-head {
  color: #fff;
  margin-bottom: 5px;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Wallet-Extra-Info-Container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 15px;
  justify-content: space-between;
}
.Wallet-Extra-Info-Container > div {
  width: 50%;
}

.Wallet-Extra-Info-Container > div > h4 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Wallet-Overview-Search-Container > div {
  display: flex;
  flex: 0.6;
  gap: 30px;
}

.Wallet-Extra-Info-Container > div > p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Wallet-Content-Box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Wallet-Content-Box > p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.Wallet-Content-Box > ul > li {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.Wallet-Content-Box > ul > li > img {
  margin-right: 10px;
}

.Transaction-History-Container {
  display: flex;
  gap: 13px;
}
.Transaction-History-Container > aside {
  min-width: 247px;
}
.Transaction-History-Sidebar > ul {
  padding: 30px 15px;
}
.Transaction-History-Sidebar > ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.Transaction-History-Sidebar > ul > li {
  height: 53px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background-color: #202435;
  display: flex;
  align-items: center;
  padding-left: 17px;
}

.Transaction-History-Sidebar > ul > li > img {
  margin-right: 20px;
}

.Wallet-Transfer-History-Right-Container {
  flex: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 21px;
}

.Wallet-Transfer-History-Btn-Container {
  display: flex;
  gap: 12px;
}

.Wallet-Transfer-History-drp-dwn-Container {
  display: flex;
  gap: 12px;
}
.Wallet-Transfer-History-Tbl-Head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px;
}

.Wallet-Transfer-History-Tbl-Head > div {
  display: flex;
  gap: 5.45px;
}

.WalletTransfer-Amount-Container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.WalletTransfer-Amount-Container > span {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.WalletTransfer-Table-Container > span {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
  display: block;
}

.WalletTransfer-Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  padding: 0 30px;
}
@media (max-width: 767px) {
  .Wallet-Overview-Nav-Container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px;
  }
  .Wallet-Overview-Nav-Container > * {
    width: 100%;
  }
  .Wallet-Overview-Table-Container {
    padding: 0px;
  }
  .Wallet-Overview-Amount-Container {
    padding: 20px 0px;
  }
  .Wallet-Overview-Search-Container > h3 {
    flex: 0.6;
  }
  .Wallet-Overview-Search-Container > div {
    flex: 1;
  }
  .Wallet-Overview-Amount-Container > span {
    font-size: 12px;
  }
  .Wallet-Overview-Table-head {
    font-size: 15px;
  }
  .WalletTransfer-Amount-Container > span {
    font-size: 12px;
  }
  .WalletTransfer-Table-Container > span {
    font-size: 15px;
  }
  .Wallet-Btm-Container {
    flex-direction: column;
    padding: 30px 0px;
    gap: 0px;
  }
  .Wallet-Form-Box {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-right: none;
    padding-right: 0px;
    padding-bottom: 45px;
  }
  .Wallet-Content-Box {
    width: 100%;
  }
  .Wallet-Form-head {
    font-size: 15px;
  }
  .Wallet-Content-Box > p {
    font-size: 10px;
    line-height: 150%;
  }
  .Wallet-Content-Box {
    gap: 10px;
  }
  .Wallet-Extra-Info-Container > div > h4 {
    font-size: 10px;
  }
  .Wallet-Extra-Info-Container > div > p {
    font-size: 7px;
  }
  .Wallet-Content-Box > ul > li {
    font-size: 10px;
  }
  .Wallet-Content-Box > ul > li > img {
    height: 8px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .Wallet-Overview-Nav-Container {
    flex-direction: column;
    align-items: flex-start;
  }
  .Wallet-Overview-Nav-Container > * {
    width: 100%;
  }

  .Wallet-Overview-Search-Container > h3 {
    flex: 0.6;
  }
  .Wallet-Overview-Search-Container > div {
    flex: 1;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .Wallet-Overview-Nav-Container > h3 {
    flex: 0.4;
  }

  .Wallet-Overview-Nav-Btn-Container {
    flex: 0.6;
  }
}
