@import url("./variables.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.text {
  color: #78819f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
@media (min-width: 300px) and (max-width: 575px) {
  .container {
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
  .header-container {
    max-width: 1280px;
    margin: 0 auto;
  }
}
