.hero-sectoion-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.heading {
  color: #fff;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.linear-gradient {
  background: linear-gradient(
    90deg,
    #aa56ff 0.95%,
    #bc63ff 14.95%,
    #6200c6 27.98%,
    #3e007d 43.6%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-sectoion-container > div {
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.hero-sectoion-container > img {
  height: 410px;
}

.hero-sectoion-container > div > p {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.hero-sectoion-container > div > button {
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    #aa56ff 1.93%,
    #bc63ff 33.59%,
    #6200c6 62.37%,
    #3e007d 94.03%
  );
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  text-transform: capitalize;
  padding: 14px 0px;
  max-width: 270px;
}
.trade-anytime-anywhere-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.trade-anytime-anywhere-main-container > div > p {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}
.trade-anytime-anywhere-main-container > img {
  height: 505px;
  margin-top: 22px;
}

.application-btn-container {
  display: flex;
  gap: 45px;
  justify-content: center;
}

.application-btn-container > button {
  height: 58px;
  border-radius: 30px;
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 37.5px */
  text-transform: capitalize;
  padding: 10px 40px;
}

.application-btn-container > button {
  display: flex;
  gap: 16px;
  align-items: center;
}

.Core-Product-Main-Container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.Count-Main-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Count-Main-Container > div {
  text-align: center;
}
.Count-Main-Container > div > span {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.Count-Main-Container > div > p {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.Core-Product-Head > p {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 21px;
}

.Core-Product-Key-Points {
  display: flex;
  align-items: center;
  gap: 14px;
}

.Core-Product-Key-Points > div > h3 {
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.Core-Product-Key-Points > div > p {
  color: #fff;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 14px;
}

.Core-Product-Left-Box {
  margin-top: 89px;
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.Core-Product-Right-Box {
  width: min-content;
  position: relative;
}

.Core-Product-Right-Box > img {
  height: 557.385px;
  width: 595.739px;
}

.home-bg-background {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  gap: 160px;
}

.hero-section {
  margin-top: 90px;
}

/*  */

.homepage-cards-main-container {
  display: flex;
  justify-content: space-between;
}

.homepage-cards-main-container > img {
  max-width: 361px;
  min-height: 134px;
}
@media (max-width: 575px) {
  .crypto-table-main-container {
    overflow-x: scroll;
  }
  .heading {
    font-size: 24px;
  }
  .hero-sectoion-container > img {
    max-height: 160px;
  }

  .heading {
    font-size: 18px;
  }
  .hero-sectoion-container > div {
    gap: 17px;
  }
  .hero-sectoion-container > div > p {
    font-size: 9px;
  }
  .hero-sectoion-container > div > button {
    padding: 9px 16px;
    width: max-content;
    height: auto;
    font-size: 7px;
  }
  .table-nav-inactive {
    font-size: 14px;
  }
  .table-nav-active {
    font-size: 14px;
  }
  .crypto-table {
    padding: 30px 0px;
    width: 90%;
    margin: 0 auto;
  }
  .crypto-table > thead > tr > th {
    font-size: 12px;
  }
  .crypto-market-stats > img {
    width: 48px;
  }
  .crypto-table > tbody > tr > :nth-child(2) {
    font-size: 10px;
  }
  .table-nav {
    gap: 25px;
  }
  .home-bg-background {
    gap: 60px;
  }
  .Count-Main-Container > div > span {
    font-size: 18px;
  }
  .Count-Main-Container > div > p {
    font-size: 14px;
  }
  .Core-Product-Head > p {
    font-size: 13px;
  }
  .Core-Product-Head {
    text-align: center;
  }
  .Core-Product-Key-Points > div > h3 {
    font-size: 18px;
  }
  .Core-Product-Key-Points > div > p {
    font-size: 14px;
  }
  .Core-Product-Key-Points > img {
    width: 33px;
    height: 32px;
  }
  .Core-Product-Main-Container {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .Core-Product-Right-Box > img {
    max-height: 300px;
    width: auto;
  }
  .Core-Product-Left-Box {
    margin-top: 26px;
  }
  .trade-anytime-anywhere-main-container > div > p {
    font-size: 9px;
  }
  .application-btn-container {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    display: grid;
    width: 100%;
  }
  .application-btn-container > button {
    font-size: 20px;
    text-align: center;
    justify-content: center;
  }
  .trade-anytime-anywhere-main-container > img {
    max-height: 350px;
    width: auto;
  }

}
@media (min-width: 576px) and (max-width: 768px) {
  .heading {
    font-size: 30px;
  }
  .hero-sectoion-container > div > p {
    font-size: 14px;
  }
  .hero-sectoion-container > div > button {
    padding: 10px 25px;
    width: max-content;
    height: auto;
    font-size: 18px;
  }
  .hero-sectoion-container > img {
    max-height: 250px;
  }
  .hero-sectoion-container > div {
    gap: 30px;
  }
  .table-nav-inactive {
    font-size: 14px;
  }
  .table-nav-active {
    font-size: 14px;
  }
  .crypto-table {
    padding: 30px 20px;
  }
  .crypto-table > thead > tr > th {
    font-size: 12px;
  }
  .crypto-table > tbody > tr > td {
    font-size: 10px;
  }
  .crypto-market-stats > img {
    width: 48px;
  }
  .crypto-table > tbody > tr > :nth-child(2) {
    font-size: 10px;
  }
  .table-nav {
    gap: 25px;
  }
  .home-bg-background {
    gap: 60px;
  }
  .Count-Main-Container > div > span {
    font-size: 32px;
  }
  .Count-Main-Container > div > p {
    font-size: 14px;
  }
  .Core-Product-Key-Points > div > p {
    font-size: 14px;
  }
  .Core-Product-Head > p {
    font-size: 14px;
  }

  .Core-Product-Key-Points > div > h3 {
    font-size: 24px;
  }
  .Core-Product-Head {
    text-align: center;
  }
  .Core-Product-Key-Points > img {
    height: 30px;
  }
  .Core-Product-Right-Box > img {
    max-height: 260px;
    width: auto;
  }
  .Core-Product-Main-Container {
    align-items: center;
  }
  .trade-anytime-anywhere-main-container > div > p {
    font-size: 14px;
  }
  .trade-anytime-anywhere-main-container > img {
    max-height: 350px;
    width: auto;
  }
  .application-btn-container {
    gap: 14px;
  }
  .application-btn-container > button {
    font-size: 14px;
  }
  .application-btn-container > button {
    padding: 8px 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .heading {
    font-size: 42px;
  }
  .hero-sectoion-container > div > p {
    font-size: 18px;
  }

  .hero-sectoion-container > img {
    max-height: 308px;
    height: 100%;
  }
  .table-nav-inactive {
    font-size: 24px;
  }
  .table-nav-active {
    font-size: 24px;
  }
  .table-nav {
    gap: 40px;
  }
  .crypto-table > thead > tr > th {
    font-size: 14px;
  }
  .crypto-table {
    border-radius: 20px;
    border: 1px solid #484848;
    background: #161616;
    padding: 30px 20px;
  }
  .Count-Main-Container > div > span {
    font-size: 42px;
  }
  .Count-Main-Container > div > p {
    font-size: 16px;
  }
  .Core-Product-Key-Points > div > p {
    font-size: 18px;
  }
  .Core-Product-Head > p {
    font-size: 18px;
  }

  .Core-Product-Key-Points > div > h3 {
    font-size: 28px;
  }
  .Core-Product-Right-Box > img {
    max-height: 320px;
    width: auto;
  }
  .trade-anytime-anywhere-main-container > div > p {
    font-size: 18px;
  }
  .application-btn-container > button {
    font-size: 16px;
  }
  .trade-anytime-anywhere-main-container > img {
    max-height: 350px;
    width: auto;
  }
  .application-btn-container {
    gap: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .heading {
    font-size: 48px;
  }
  .hero-sectoion-container > div > p {
    font-size: 20px;
  }
  .hero-sectoion-container > div > button {
    padding: 18px 50px;
    width: max-content;
    height: auto;
    font-size: 18px;
  }
  .Count-Main-Container > div > span {
    font-size: 48px;
  }
  .Count-Main-Container > div > p {
    font-size: 20px;
  }
  .Core-Product-Head > p {
    font-size: 20px;
  }
  .Core-Product-Key-Points > div > p {
    font-size: 20px;
  }
  .Core-Product-Right-Box > img {
    max-height: 350px;
    width: auto;
  }
  .trade-anytime-anywhere-main-container > div > p {
    font-size: 20px;
  }
}
